<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
    <link href="index.css" rel="stylesheet" type="text/css" />
    <link href="join.css" rel="stylesheet" type="text/css" />
</head>
<body class="container">
    <header>
        <% include ./partials/header %>
    </header>

    <main>
<div class="container-signup" id="wrap">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form action="join" method="post" accept-charset="utf-8" class="form" role="form">   <legend>Sign Up</legend>
                    <h4>Sign up and receive a free gift!</h4>
                    <div class="row">
                        <div class="col-xs-6 col-md-6">
                            <input type="text" name="firstname" value="" class="form-control input-lg" placeholder="First Name"  />                        
                        </div>
                        <div class="col-xs-6 col-md-6">
                            <input type="text" name="lastname" value="" class="form-control input-lg" placeholder="Last Name"  />                       
                        </div>
                    </div>
                    <input type="text" name="email" value="" class="form-control input-lg" placeholder="Your Email"  />
                    <input type="password" name="password" value="" class="form-control input-lg" placeholder="Password"  />
                    <input type="password" name="confirm_password" value="" class="form-control input-lg" placeholder="Confirm Password"  />
                    <br />
                    <button class="btn btn-lg btn-primary btn-block signup-btn" type="submit">
                        Create my account
                    </button>
                    <br />
            </form>          
          </div>
</div>            
</div>
</div>
    </main>

    <footer>
        <% include ./partials/footer %>
    </footer>
    
</body>
</html>
